.product{

}
.addtocard{
    margin-top: 20px;
}
.input{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
}
.image{
    width: 300px;
    height: 300px;
}
.desc{
    width: 220px;
}
